@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    background-image: url('./images/bg-pattern-desktop.svg');
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex-direction: row;
}

.left-component {
    width: 60%;
}

.slogan {
    font-weight: 300;
    font-size: 30px;
    line-height: 0.25;
}

#slogan-top {
    color: 	#ce9797;
}

#slogan-mid #slogan-bot {
    color: #413a3a;
}

.email-button-in {
    display: flex;
    flex-direction: row;
    border: 1px solid #ce9797;
    border-radius: 30px;
    height: 35px;
}

.email-button-in .email {
    border: none;
    border-radius: 30px;
    padding-left: 1rem;
    flex-grow:2;
}

.submit-email {
    border: none;
    border-radius: 30px;
    width: 20%;
    background: linear-gradient(#f8bfbf, #ee8c8c);
    box-shadow: 0 5px 8px 0 #c2c2c2;
}
.right-component {
    width: 40%;
}
